html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.logo-text {
    color: red;
    font-size: 3rem;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.header-right img {
    width: 3rem;
    border-radius: 50%;
    
}

.input-container {
    display: flex;
    align-items: center;
    gap: .5rem;
    border: 1px solid black;
    padding: .5rem 1rem;
}

input {
    border: none;
    outline: none;
}

.header-right i {
    font-size: 2rem;
}